
.dashboard-pane {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  margin-bottom: 1em;
}

.dashboard-pane .dashboard-pane-handle {
  padding: 10px;
  background-color: #dfdfdf;
  overflow: hidden;
}

.dashboard-pane .dashboard-pane-handle:hover {
  cursor: move;
}

.dashboard-pane .dashboard-roll-button {
  float: right;
  width: 15px;
  height: 15px;
  cursor: pointer;
  background: transparent url(../images/arrow_up.gif) center center no-repeat;
}

.dashboard-rolled .dashboard-roll-button {
  background: transparent url(../images/arrow_down.gif) center center no-repeat;
}

.dashboard-placeholder-highlight {
  height: 1em;
  background-color: #cc0000;
  margin-bottom: 1em;
}

.dashboard-region-empty {
  height: 1em;
  border: 1px dashed #dfdfdf;
}

.dashboard-pane .pane-content {
  padding: 10px;
}
